* {
    font-size: 16px;
    font-family:  sans-serif;
}
    
body {
    /* width: 100%; */
    margin: 0 80px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

li {
    list-style: none;
    text-decoration: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

#heading-section {
    width: 70%;
    margin: 100px auto 20px auto;
    text-align: center;
}
#heading-section a {
    color: inherit;
    text-decoration: none;
}

#search-section {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

#search-box {
    height: 2rem;
    width: 40%;
    margin: 0 auto;
} 

#search-submit {
    height: 2.4rem;
    width: 60px;
    text-align: center;
}

#instructions {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}

#results-section {
    width: 80%;
    margin: 40px auto;
    border-radius: 3px;
    background-color: #EEE0E3;
    /* min-height: 100px; */
}

.no-results-text {
    width: 60%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/* -------- LOADER ------- */

.hidden {
    visibility: hidden;
}
.loader{
position: absolute;
display: grid;
place-items: center;
width: 60px;
height:60px;
top: 10px;
right: 10px;
}
.loader span{
position: absolute;
border: 6px solid blue;
border-radius: 50%;
animation: ripple 1.8s ease-out infinite;
}
.loader span:nth-child(2){
animation-delay: -0.6s;
}
@keyframes ripple{
from{
    opacity: 1;
    width: 0;
    height: 0;
}
to{
    opacity: 0;
    width: 100%;
    height: 100%;
}
}

/* ------ RESULTS ------- */
#results-section .section {
    position: relative;
}

.link-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

#results-section > div h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
}

#results-section h1 {
    border-top: 2px dashed;
}

#results-section h1:first-child {
    border: none;
}